body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 20px;
  color: #513425;
  text-align: center;
}
.avatar {
  width: 150px;
}

.card {
  width: 500px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-color: #efece8;
  border-bottom: 10px solid #513425;
}
